@font-face {
    font-family: "KarmillaRegular";
    src: url("../fonts/karmilla/Karmilla-Regular.eot");
    src: url("../fonts/karmilla/Karmilla-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/karmilla/Karmilla-Regular.woff") format("woff"),
        url("../fonts/karmilla/Karmilla-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Karmilla-Bold";
    src: url(".../fonts/karmilla/Karmilla-Bold.eot");
    src: url("../fonts/karmilla/Karmilla-Bold.ttf.eot?#iefix") format("embedded-opentype"),
        url("../fonts/karmilla/Karmilla-Bold.woff") format("woff"),
        url("../fonts/karmilla/Karmilla-Bold.ttf") format("truetype");
}

// fonts
$karmilla: "Karmilla-Regular", Arial, sans-serif;
$karmillaBold: "Karmilla-Bold", Arial, sans-serif;

// colors
$mainColor: #425cc7;
$paragraphColor: #252525;

// body

* {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
}

h2 {
    font-family: $karmillaBold;
    font-size: 3rem;
    letter-spacing: -0.19px;
    line-height: 66px;
}

h3 {
    font-family: $karmillaBold;
    font-size: 1.5rem;
    color: $paragraphColor;
    letter-spacing: -0.09px;
    line-height: 31px;
}

p {
    font-family: $karmilla;
    font-size: 1.125rem;
    color: #252525;
    letter-spacing: -0.07px;
    line-height: 31px;
    a {
        color: $mainColor;
        text-decoration: underline;
        &:hover {
            color: $paragraphColor;
        }
    }
}

.has-blue-color {
    color: $mainColor;
}

a {
    transition: ease-in-out 0.2s;
}

.has-text-align-center {
    text-align: center;
    margin: 0 auto;
}

.has-blue-block-color {
    ul {
        color: #ffffff;
        li {
            font-family: $karmilla;
            font-size: 1.125rem;
            color: #ffffff;
            letter-spacing: -0.07px;
            line-height: 31px;
            padding-left: 30px;
            padding-bottom: 24px;
            position: relative;
            svg {
                top: 9px;
                left: 0;
                position: absolute;
            }
        }
    }
}

// Buttons

.btn,
.wp-block-button a.wp-block-button__link,
.has-blue-block-color .wp-block-buttons .wp-block-button__link {
    font-family: $karmillaBold;
    font-size: 1.125rem;
    color: #ffffff;
    letter-spacing: -0.08px;
    border-radius: 0px;
    border: 0px;
    padding: 14px 16px 14px 22px;
    position: relative;
    background: $mainColor;
    &:after {
        content: "";
        right: -20px;
        top: 0px;
        height: 100%;
        position: absolute;
        border-top: 15px solid transparent;
        border-left: 20px solid $mainColor;
        border-bottom: 0vh solid $mainColor;
        transition: ease-in-out 0.2s;
    }
    &:hover {
        background: #304497;
        &:after {
            border-left: 20px solid #304497;
            border-bottom: 0vh solid #304497;
        }
    }
    &:active,
    &:focus {
        background: #233375;
        &:after {
            border-left: 20px solid #233375;
            border-bottom: 0vh solid #233375;
        }
    }
}

.w-btn,
.has-blue-block-color .wp-block-buttons .wp-block-button__link {
    background: #ffffff;
    color: $mainColor;
    &:after {
        content: "";
        border-top: 15px solid transparent;
        border-left: 20px solid #ffffff;
        border-bottom: 0vh solid #ffffff;
    }
    &:hover {
        color: #304497;
        background: #ffffff;
        &:after {
            border-left: 20px solid #ffffff;
            border-bottom: 0vh solid #ffffff;
        }
    }
    &:active {
        color: #233375;
        background: #ffffff;
        &:after {
            border-left: 20px solid #ffffff;
            border-bottom: 0vh solid #ffffff;
        }
    }
}

// Navigation

nav {
    position: fixed;
    top: 80px;
    left: 0;
    width: calc(100% - 36px);
    z-index: 100;
    background: rgba($mainColor, 0);
    .container {
        .row {
            margin-left: 0px;
            margin-right: -32px;
        }
    }
    .main-navigation {
        ul {
            margin: 0;
            padding: 0;
            margin-right: -25px;
            li {
                padding-left: 25px;
                padding-right: 25px;
                float: left;
                list-style: none;
                a {
                    position: relative;
                    font-family: $karmillaBold;
                    font-size: 17px;
                    color: #ffffff;
                    letter-spacing: -0.07px;
                    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
                    &:after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        width: 0;
                        bottom: -5px;
                        background: #ffffff;
                        height: 3px;
                        transition-property: width;
                        transition-duration: 0.3s;
                        transition-timing-function: ease-out;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    &:hover:after {
                        left: 0;
                        right: auto;
                        width: 100%;
                    }
                }
            }
            .current-menu-item {
                a {
                    &:after {
                        content: "";
                        bottom: -8px;
                        left: 0px;
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background: #ffffff;
                    }
                }
            }
        }
    }
}

.nav--change {
    top: 0px;
    .main-navigation {
        ul {
            li {
                a {
                    text-shadow: 0 1px 3px rgba(0, 0, 0, 0);
                }
            }
        }
    }
}

.nav--bg {
    background: rgba($mainColor, 1);
}

.elix {
    position: relative;
    top: 0px;
    width: 171px;
    height: 106px;
}

.elixcanged {
    top: 15px;
    width: 120px;
}

.running-your-energy {
    opacity: 1;
}

.running-your-energy--change {
    opacity: 0;
}

// Homepagina - Header
.h-header {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    min-height: 100vh;
    margin-top: 36px;
    margin-right: 36px;
    overflow: hidden;
    position: relative;
    &:after {
        content: "";
        width: 300px;
        height: 100px;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        transform: rotate(25deg) translate(105px, -90px);
    }
    .container {
        min-height: 100%;
        .int-block {
            overflow: hidden;
            padding: 3rem 4rem;
            position: relative;
            margin-bottom: 12.5rem;
            z-index: 1;
            margin-right: calc(-35px + -3rem);
            &:after {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                border-top: 25px solid transparent;
                border-right: 50px solid $mainColor;
                border-bottom: 100vw solid $mainColor;
            }
            &:before {
                content: "";
                width: calc(100% - 50px);
                height: 100%;
                right: 0px;
                top: 0px;
                background: $mainColor;
                position: absolute;
                z-index: -1;
            }
            h1 {
                font-family: $karmillaBold;
                font-size: 2rem;
                color: #ffffff;
                letter-spacing: -0.76px;
            }
            .h-sub {
                font-family: $karmilla;
                font-size: 1.5rem;
                color: #ffffff;
                letter-spacing: -0.1px;
            }
        }
    }
}

// Homepagina - Content

.h-content {
    position: relative;
    z-index: 2;
    .container {
        background: #ffffff;
        box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.1);
        margin-top: -5rem;
        padding: 4rem 3rem;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            width: 80px;
            height: 200px;
            background: #000000;
            opacity: 0.2;
            position: absolute;
            top: 0px;
            right: 240px;
            transform: rotate(26deg) translate(10px, -60%);
        }
    }
}

.h-qoute {
    img {
        max-width: 100%;
        margin-bottom: -4rem;
    }
    .content {
        p {
            margin-top: 6rem;
            opacity: 0.4;
            font-size: 1.5rem;
            color: #000000;
            letter-spacing: -0.09px;
            text-align: center;
            line-height: 34.76px;
        }
    }
}

// Homepagina - Call out

.call-out {
    margin-top: 70px;
    overflow: hidden;
    position: relative;
    .btn {
        margin-top: 0px;
    }
    .bg-i {
        position: absolute;
        width: calc(100% - 36px);
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        top: 30px;
        left: 0px;
    }
    .c-content {
        margin-bottom: 21rem;
        position: relative;
        padding-top: 30px;
        .b-g {
            margin-left: -15px;
            margin-right: -15px;
            padding: 6rem 3rem;
            background: rgba($mainColor, 0.8);
            box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 2;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100vw;
            height: calc(100% - 94px);
            left: 0;
            top: 0px;
            background: #ffffff;
            transform: rotate(180deg);
            transform-origin: left;
        }
        &:before {
            content: "";
            position: absolute;
            width: 100vw;
            height: calc(100% - 94px);
            right: 0;
            top: 0;
            background: #ffffff;
            transform: rotate(-180deg);
            transform-origin: right;
        }
        span {
            font-family: $karmillaBold;
            font-size: 3rem;
            color: #ffffff;
            letter-spacing: -0.19px;
            line-height: 66px;
        }
    }
    .c-branding {
        margin-bottom: 4rem;
    }
    &:after {
        content: "";
        width: 130px;
        height: 200px;
        transform: rotate(-26deg) translate(-50%, 30%);
        background: #fff;
        position: absolute;
        left: 50%;
        bottom: 0px;
    }
}

footer {
    padding: 6rem 15px;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            a {
                opacity: 0.7;
                font-family: $karmilla;
                font-size: 18px;
                color: #252525;
                letter-spacing: -0.07px;
                line-height: 38px;
                &:hover {
                    color: $paragraphColor;
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
    }
    p {
        opacity: 0.7;
        font-family: $karmilla;
        font-size: 18px;
        color: #252525;
        letter-spacing: -0.07px;
        line-height: 38px;
    }
    a {
        opacity: 0.7;
        font-family: $karmilla;
        font-size: 18px;
        color: #252525;
        letter-spacing: -0.07px;
        line-height: 38px;
        display: block;
        width: 100%;
    }
    .c-con {
        margin-top: 50px;
        a {
            position: relative;
            padding-left: 40px;
            svg {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        .tel {
            svg {
                margin-left: 3px;
                margin-right: -3px;
            }
        }
    }
}

// Page.php

.p-header {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    min-height: 80vh;
    margin-top: 36px;
    margin-right: 36px;
    overflow: hidden;
    position: relative;
    &:after {
        content: "";
        width: 300px;
        height: 100px;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        transform: rotate(25deg) translate(105px, -90px);
    }
}

.p-main {
    margin-top: calc(-5rem - 8.375rem);
    overflow: hidden;
    z-index: 2;
    position: relative;
    .t-block {
        overflow: hidden;
        padding: 3rem;
        position: relative;
        z-index: 1;
        min-width: 35rem;
        &:after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
            border-top: 25px solid transparent;
            border-right: 50px solid rgba($mainColor, 0.9);
            border-bottom: 100vw solid rgba($mainColor, 0.9);
        }
        &:before {
            content: "";
            width: calc(100% - 50px);
            height: 100%;
            right: 0px;
            top: 0px;
            background: rgba($mainColor, 0.9);
            position: absolute;
            z-index: -1;
        }
        h1 {
            font-family: $karmillaBold;
            font-size: 2rem;
            color: #ffffff;
            letter-spacing: -0.76px;
            margin: 0;
            padding: 0px 36px 0px 0px;
        }
        .breadcrumbs {
            opacity: 0.5;
            font-family: $karmilla;
            font-size: 16px;
            color: #ffffff;
            letter-spacing: -0.06px;
            text-transform: uppercase;
            a {
                color: #ffffff;
            }
            .seperator {
                width: 5px;
                height: 12px;
                background-size: contain;
                background-image: url(../img/seperator.svg);
                display: inline-block;
                position: relative;
                top: 2px;
            }
        }
    }
    .wp-block-group {
        background: #ffffff;
        box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.1);
        padding: 4rem 3rem;
        position: relative;
        overflow: hidden;
    }
}

.wp-block-content-section {
    flex: 100%;
    background: #ffffff;
    box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.1);
    padding: 4rem 3rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 6rem;
    z-index: 1;
}

.noshadow {
    box-shadow: none;
}

.fullwidth {
    position: relative;
    overflow: visible;
    &:before {
        width: 150vw;
        position: absolute;
        left: -50vw;
        top: 0;
        height: 100%;
        background: #f3f3f3;
        content: "";
        z-index: -1;
    }
}

.has-blue-block-color {
    background: $mainColor;
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    a {
        color: #ffffff;
    }
}

// Elix waarden

.waarden {
    background-position: center center;
    background-size: cover;
    .w-title {
        padding-top: 8.75rem;
        font-family: $karmillaBold;
        font-size: 47.68px;
        color: $mainColor;
        letter-spacing: -0.19px;
        text-align: center;
        line-height: 66px;
    }
}

.negativeMargin {
    margin-top: -5rem;
    padding-top: 5rem;
}

// WP styling

.wp-block-columns {
    flex-wrap: nowrap;
    width: 100%;
}

// Qoute

.wp-block-quote {
    overflow: hidden;
    padding: 2rem;
    position: relative;
    z-index: 1;
    min-width: 35rem;
    &:after {
        content: "";
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -1;
        border-top: 25px solid transparent;
        border-left: 50px solid rgba(#ededed, 0.9);
        border-bottom: 100vw solid rgba(#ededed, 0.9);
    }
    &:before {
        content: "";
        width: calc(100% - 50px);
        height: 100%;
        left: 0px;
        top: 0px;
        background: rgba(#ededed, 0.9);
        position: absolute;
        z-index: -1;
    }
}

.addmark {
    position: relative;
    &:after {
        content: "";
        width: 130px;
        height: 200px;
        transform: rotate(-26deg) translate(-50%, 30%);
        background: #fff;
        position: absolute;
        right: 94px;
        bottom: 0;
    }
}

.addpadding {
    padding-right: 294px;
}

.b-p {
    padding-bottom: calc(3rem - 28px);
}

.negative {
    margin-top: -160px;
    z-index: -1;
    padding-top: 160px;
    margin-bottom: -140px;
    padding-bottom: 200px;
}

.wp-block-spacer {
    width: 100%;
}

// Pakket

.block-pricespackages {
    height: 100%;
    background: #ffffff;
    box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.1);
    .title {
        background: #425cc7;
        width: 100%;
        text-align: center;
        padding: 24px;
        font-family: $karmillaBold;
        font-size: 1.438rem;
        color: #ffffff;
        letter-spacing: -0.09px;
        text-align: center;
        line-height: 31px;
    }
    .usp {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 16px;
        li {
            padding: 0;
            margin: 0;
            font-family: $karmilla;
            font-size: 1.125rem;
            color: #252525;
            letter-spacing: -0.07px;
            text-align: center;
            line-height: 40px;
            position: relative;
            display: inline-block;
            svg {
                left: -20px;
                top: 15px;
                position: absolute;
            }
        }
    }
    .price {
        width: 100%;
        font-family: $karmillaBold;
        font-size: 47px;
        color: #252525;
        letter-spacing: -0.19px;
        text-align: center;
        line-height: 40px;
        padding: 30px;
        border-top: 1px dashed rgba(#979797, 0.3);
    }
    .in-title {
        width: 100%;
        display: block;
        opacity: 0.6;
        font-family: $karmilla;
        font-size: 16px;
        color: #252525;
        letter-spacing: -0.06px;
        text-align: center;
        text-transform: uppercase;
        svg {
            display: block;
            text-align: center;
            margin: 0 auto;
            position: relative;
            top: -5px;
        }
    }
    .in {
        background: #f3f3f3;
        width: 100%;
    }
    .inf {
        width: 100%;
    }
    .items {
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 15px 15px 30px 15px;
        .item {
            display: inline-block;
            float: none;
            text-align: center;
            width: 100%;
            margin-bottom: 6px;
            span {
                background: #ffffff;
                font-family: $karmilla;
                padding: 10px;
                font-size: 18px;
                color: #252525;
                letter-spacing: -0.07px;
                text-align: center;
                line-height: 46px;
            }
        }
    }
}

.usps {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carrousel-container {
    position: relative;
    .carrousel-items {
        .items {
            .item {
                padding: 0;
                margin: 0;
                &:nth-child(1) {
                    padding-bottom: 40px;
                    padding-right: 60px;
                    border-right: 1px dashed rgba(#979797, 0.3);
                    border-bottom: 1px dashed rgba(#979797, 0.3);
                }
                &:nth-child(2) {
                    padding-bottom: 40px;
                    padding-left: 60px;
                    border-bottom: 1px dashed rgba(#979797, 0.3);
                }
                &:nth-child(3) {
                    padding-top: 40px;
                    padding-right: 60px;
                    border-right: 1px dashed rgba(#979797, 0.3);
                }
                &:nth-child(4) {
                    padding-top: 40px;
                    padding-left: 60px;
                }
                h1,
                h2,
                h3,
                h4 {
                    color: $mainColor;
                    font-family: $karmillaBold;
                    font-size: 1.438rem;
                    letter-spacing: -0.09px;
                    line-height: 31px;
                }
                p {
                    font-family: $karmilla;
                    font-size: 18px;
                    color: #252525;
                    letter-spacing: -0.07px;
                    line-height: 31px;
                }
            }
        }
    }
    .prev-slide,
    .next-slide {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .prev-slide {
        left: -60px;
        transition: ease-in-out 0.2s;
        &:hover {
            left: -68px;
        }
    }
    .next-slide {
        right: -60px;
        transition: ease-in-out 0.2s;
        &:hover {
            right: -68px;
        }
    }
}

.stap {
    position: relative;
    .icon {
        margin-bottom: 35px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 25px;
        left: 70px;
        width: calc(100% - 85px);
        min-height: 1px;
        background: #ffffff;
    }
    &:first-child {
        &:after {
            content: "";
            content: "";
            position: absolute;
            top: 25px;
            right: 100%;
            width: calc(100% - 60px);
            min-height: 1px;
            background: #fff;
        }
    }
    &:last-child {
        &:after {
            content: "";
            content: "";
            position: absolute;
            top: 25px;
            left: calc(100% - 15px);
            width: calc(100% - 60px);
            min-height: 1px;
            background: #fff;
        }
    }
    img {
        max-width: 48px;
    }
}

.is-style-delete-edge {
    min-width: calc(100% + 3rem);
    margin-bottom: -4rem;
}
