@font-face {
  font-family: "KarmillaRegular";
  src: url("../fonts/karmilla/Karmilla-Regular.eot");
  src: url("../fonts/karmilla/Karmilla-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/karmilla/Karmilla-Regular.woff") format("woff"), url("../fonts/karmilla/Karmilla-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Karmilla-Bold";
  src: url(".../fonts/karmilla/Karmilla-Bold.eot");
  src: url("../fonts/karmilla/Karmilla-Bold.ttf.eot?#iefix") format("embedded-opentype"), url("../fonts/karmilla/Karmilla-Bold.woff") format("woff"), url("../fonts/karmilla/Karmilla-Bold.ttf") format("truetype"); }
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-family: "Karmilla-Regular", Arial, sans-serif;
  font-size: 1.125rem;
  color: #252525;
  letter-spacing: -0.07px;
  line-height: 31px; }
  p a {
    color: #425cc7;
    text-decoration: underline; }
    p a:hover {
      color: #252525; }

a {
  transition: ease-in-out 0.2s; }

.btn {
  font-family: "Karmilla-Bold", Arial, sans-serif;
  font-size: 1.125rem;
  color: #ffffff;
  letter-spacing: -0.08px;
  border-radius: 0px;
  border: 0px;
  padding: 21px;
  position: relative;
  background: #425cc7;
  margin-top: 50px; }
  .btn:after {
    content: "";
    right: -20px;
    top: 0px;
    height: 100%;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 20px solid #425cc7;
    border-bottom: 0vh solid #425cc7; }

.w-btn {
  font-family: "Karmilla-Bold", Arial, sans-serif;
  font-size: 1.125rem;
  color: #ffffff;
  letter-spacing: -0.08px;
  border-radius: 0px;
  border: 0px;
  padding: 21px;
  position: relative;
  background: #ffffff;
  color: #425cc7;
  margin-right: 20px; }
  .w-btn:after {
    content: "";
    right: -20px;
    top: 0px;
    height: 100%;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 20px solid #ffffff;
    border-bottom: 0vh solid #ffffff; }

nav {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(66, 92, 199, 0); }
  nav .main-navigation ul {
    margin: 0;
    padding: 0;
    margin-right: -25px; }
    nav .main-navigation ul li {
      padding: 0px 25px;
      float: left;
      list-style: none; }
      nav .main-navigation ul li a {
        position: relative;
        font-family: "Karmilla-Bold", Arial, sans-serif;
        font-size: 17px;
        color: #ffffff;
        letter-spacing: -0.07px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
        nav .main-navigation ul li a:after {
          content: "";
          position: absolute;
          z-index: -1;
          right: 0;
          width: 0;
          bottom: -5px;
          background: #ffffff;
          height: 3px;
          transition-property: width;
          transition-duration: 0.3s;
          transition-timing-function: ease-out; }
        nav .main-navigation ul li a:hover {
          text-decoration: none; }
        nav .main-navigation ul li a:hover:after {
          left: 0;
          right: auto;
          width: 100%; }
    nav .main-navigation ul .current-menu-item a:after {
      content: "";
      bottom: -8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #ffffff; }

.nav--change {
  top: 0px; }
  .nav--change .main-navigation ul li a {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0); }

.nav--bg {
  background: #425cc7; }

.elix {
  position: relative;
  top: 0px;
  width: 171px;
  height: 106px; }

.elixcanged {
  top: 15px;
  width: 120px; }

.running-your-energy {
  opacity: 1; }

.running-your-energy--change {
  opacity: 0; }

.h-header {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  min-height: 100vh;
  margin-top: 36px;
  margin-right: 36px;
  overflow: hidden;
  position: relative; }
  .h-header:after {
    content: "";
    width: 300px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    transform: rotate(25deg) translate(105px, -90px); }
  .h-header .container {
    min-height: 100%; }
    .h-header .container .int-block {
      overflow: hidden;
      padding: 3rem 4rem;
      position: relative;
      margin-bottom: 12.5rem;
      z-index: 1;
      margin-right: calc(-35px + -3rem); }
      .h-header .container .int-block:after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        border-top: 25px solid transparent;
        border-right: 50px solid #425cc7;
        border-bottom: 100vw solid #425cc7; }
      .h-header .container .int-block:before {
        content: "";
        width: calc(100% - 50px);
        height: 100%;
        right: 0px;
        top: 0px;
        background: #425cc7;
        position: absolute;
        z-index: -1; }
      .h-header .container .int-block h1 {
        font-family: "Karmilla-Bold", Arial, sans-serif;
        font-size: 2rem;
        color: #ffffff;
        letter-spacing: -0.76px; }
      .h-header .container .int-block .h-sub {
        font-family: "Karmilla-Regular", Arial, sans-serif;
        font-size: 1.5rem;
        color: #ffffff;
        letter-spacing: -0.1px; }

.h-content {
  position: relative;
  z-index: 2; }
  .h-content .container {
    background: #ffffff;
    box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.1);
    margin-top: -5rem;
    padding: 4rem 3rem;
    position: relative;
    overflow: hidden; }
    .h-content .container:before {
      content: "";
      width: 80px;
      height: 200px;
      background: #000000;
      opacity: 0.2;
      position: absolute;
      top: 0px;
      right: 240px;
      transform: rotate(26deg) translate(10px, -60%); }

.h-qoute img {
  max-width: 100%;
  margin-bottom: -4rem; }
.h-qoute .content p {
  margin-top: 6rem;
  opacity: 0.4;
  font-size: 1.5rem;
  color: #000000;
  letter-spacing: -0.09px;
  text-align: center;
  line-height: 34.76px; }

.call-out {
  margin-top: 70px;
  overflow: hidden;
  position: relative; }
  .call-out .bg-i {
    position: absolute;
    width: calc(100% - 36px);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    top: 30px;
    left: 0px; }
  .call-out .c-content {
    margin-bottom: 21rem;
    position: relative;
    padding-top: 30px; }
    .call-out .c-content .b-g {
      margin-left: -15px;
      margin-right: -15px;
      padding: 6rem 3rem;
      background: rgba(66, 92, 199, 0.8);
      box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 2; }
    .call-out .c-content:after {
      content: "";
      position: absolute;
      width: 100vw;
      height: calc(100% - 94px);
      left: 0;
      top: 0px;
      background: #ffffff;
      transform: rotate(180deg);
      transform-origin: left; }
    .call-out .c-content:before {
      content: "";
      position: absolute;
      width: 100vw;
      height: calc(100% - 94px);
      right: 0;
      top: 0;
      background: #ffffff;
      transform: rotate(-180deg);
      transform-origin: right; }
    .call-out .c-content span {
      font-family: "Karmilla-Bold", Arial, sans-serif;
      font-size: 3rem;
      color: #ffffff;
      letter-spacing: -0.19px;
      line-height: 66px; }
  .call-out .c-branding {
    margin-bottom: 4rem; }
  .call-out:after {
    content: "";
    width: 130px;
    height: 200px;
    transform: rotate(-26deg) translate(-50%, 30%);
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 0px; }

footer {
  padding: 6rem 15px; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        opacity: 0.7;
        font-family: "Karmilla-Regular", Arial, sans-serif;
        font-size: 18px;
        color: #252525;
        letter-spacing: -0.07px;
        line-height: 38px; }
        footer ul li a:hover {
          color: #252525;
          opacity: 1;
          text-decoration: none; }
  footer p {
    opacity: 0.7;
    font-family: "Karmilla-Regular", Arial, sans-serif;
    font-size: 18px;
    color: #252525;
    letter-spacing: -0.07px;
    line-height: 38px; }
  footer a {
    opacity: 0.7;
    font-family: "Karmilla-Regular", Arial, sans-serif;
    font-size: 18px;
    color: #252525;
    letter-spacing: -0.07px;
    line-height: 38px;
    display: block;
    width: 100%; }
  footer .c-con {
    margin-top: 50px; }
    footer .c-con a {
      position: relative;
      padding-left: 40px; }
      footer .c-con a svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%); }
    footer .c-con .tel svg {
      margin-left: 3px;
      margin-right: -3px; }

/*# sourceMappingURL=style.css.map */
